extends includes/layout

block content

  script(src='vendor/head.load-1.0.3.min.js')

  script
    :coffee
      head.js { example : "js/example.js?#{+new Date()}" }
  
  // main loader
  script
    :coffee
      head.ready "example", ->
        {greater} = ExamplePackage

        # if DOM ready
        $ ->
          $('#result').html "#{greater('Bender')}"

  .container
    h1 CoffeeScript demo page
    
    .row
      .col-md-8
        p
          | This is CoffeeScript demo page, created with clinch.

    .row
      .col-md-8
        span Node says

    .row
      #result.col-md-8 hm... its not worked :(