extends includes/layout

block content

  script(src='vendor/head.load-0.99.min.js')

  :coffeescript
    head.js { example : "js/example.js?#{+new Date()}" }
  
  // main loader
  :coffeescript
    head.ready "example", ->
      {greater} = ExamplePackage

      # if DOM ready
      $ ->
        $('#result').html "\"#{greater()}\""

  div.container
    h1 CoffeeScript demo page
    
    div.span8
      p
        | This is CoffeeScript demo page, created with clinch.

    div.span8
      span Node says 
      span#result hm... its not worked :(